/* GENERAL SETTINGS */
body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODMtbnVubnktMDE1LWcta3plYjd5ajEuanBn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background-color: rgb(95, 165, 118);
  margin: 0px;
  font-family: "Ruda", sans-serif;
}
/* NAVIGATION */
.headings h3 {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  margin: 10px;
}
.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  background-color: rgb(78, 42, 42);
}
#navigation a:hover {
  background-color: rgb(215, 182, 172);
  color: rgb(0, 0, 0);
}
.headings ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.headings li a {
  padding: 10px;
  text-decoration: none;
  float: right;
  display: inline;
  margin-right: 20px;
  text-align: center;
  color: white;
}
/* CONTENT */
.container h1 {
  top: 30%;
  color: aliceblue;
  font-size: 4rem;
}
.container h1,
h2 {
  font-family: "Yeseva One", cursive;
  color: rgb(255, 209, 140);
}
.container {
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}
/* FOOTER */
footer {
  margin: 20px;
  text-align: center;
  color: black;
}
@media screen and (max-width: 760px) {
  .headings {
    flex-direction: column;
    text-align: center;
  }
  .headings li a {
    margin: 5px 0;
  }
  .container h1 {
    font-size: 2rem;
  }
}